@import 'colourPalette.sass'

html, body
	height: 100%

#root
	min-height: 100%
	font-family: 'Karla', sans-serif
	-webkit-font-smoothing: antialiased
	color: $white
	background: linear-gradient(-45deg, $orange, $turquoise, $blue, $emerald)
	background-size: 400% 400%
	-webkit-animation: Gradient 15s ease infinite
	-moz-animation: Gradient 15s ease infinite
	animation: Gradient 15s ease infinite

@-webkit-keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

@-moz-keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

@keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

.loading
	color: #fff
	opacity: 0.8
	font-size: 50px
	.text
		display: inline-block
		animation: pulses 0.4s alternate infinite ease-in-out
		&:nth-child(odd)
			animation-delay: 0.4s

@keyframes pulses
  to
    transform: scale(0.8)
    opacity: 0.5

h1
	font-size: 4em
	line-height: 1.10227
	font-weight: 700
	letter-spacing: -.025em
	margin: 20px 0
h3
	font-size: 28px
	font-weight: 300
.full-screen
	height: 100vh
	position: relative
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	text-align: center
	.button
		margin-top: 20px
.button
	font-weight: 700
	color: $white
	text-decoration: none
	border: 1px solid $white
	padding: 10px 36px
	font-size: 20px
	border-radius: 5px
	cursor: pointer
	background-size: 200% 200%
	background-image: linear-gradient(to top, $orange 50%, transparent 50%)
	-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
	-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
	-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
	-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
	transition: background-position 300ms, color 300ms ease, border-color 300ms ease
	&:hover
		border-color: $orange
		background-image: linear-gradient(to top, $orange 51%, transparent 50%)
		background-position: 0 100%
		-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		transition: background-position 300ms, color 300ms ease, border-color 300ms ease
.flex
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	max-width: 970px
	margin: 0 auto
	.grid-item
		width: 30%
		font-size: 20px
		text-decoration: none
		color: $white
		border: 1px solid $white
		border-radius: 5px
		margin: 5px
		padding: 25px 5px
		cursor: pointer
		background-size: 200% 200%
		background-image: linear-gradient(to top, $orange 50%, transparent 50%)
		-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		transition: background-position 300ms, color 300ms ease, border-color 300ms ease
		&:hover
			border-color: $orange
			background-image: linear-gradient(to top, $orange 51%, transparent 50%)
			background-position: 0 100%
			-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
			-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
			-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
			-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease
			transition: background-position 300ms, color 300ms ease, border-color 300ms ease
.work-container
	max-width: 970px
	margin: 0 auto
	padding: 0 26px
	padding-bottom: 50px
	.half-side
		width: 45%
		.button
			display: inline-block
			width: 30%
			margin: 20px auto
			text-align: center
	.img
		display: flex
		align-items: center
		img
			width: 100%
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3)
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3)
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3)
	.heading
		padding: 50px 0
		text-align: center
.contact
	display: flex
	position: absolute
	top: 20px
	left: 0
	right: 0
	justify-content: space-around
	a
		text-decoration: none
		color: $white
		transition: all .3s ease-in-out
		&:hover
			color: $orange
@media only screen and (max-width: 700px)
	h1
		margin-top: 60px
		font-size: 2em
	.flex
		.grid-item
			width: 70%
			padding: 15px 5px
	.work-container
		padding: 0
@media only screen and (max-width: 910px)
	.work-container
		.half-side
			width: 80%
			text-align: center
			.button
				width: 30%
		.heading
			padding: 20px 0
